@{
    ViewData["Title"] = "Home Page";
}
<main>
    <section id="First">
        <img src="~/Assets/img/porsche-normal.webp" alt="" srcset="">
        <div class="container">
            <div class="row">

                <div class="col-8">
                    <div class="text-box">

                        <h1>FIND YOUR RENT A CAR</h1>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="col-4">
                    <form class="form-car p-5">
                        <h1>Search Car</h1>
                        <div class="mb-3">

                            <input type="password" class="form-control" placeholder="Pick Up Location">
                        </div>
                        <div class="mb-3">

                            <input type="password" class="form-control" placeholder="Pick Drop Location">
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" placeholder="Pick Up Date">
                        </div>
                        <div class="mb-3">

                            <input type="password" class="form-control" placeholder="Pick Drop Date">
                        </div>
                        <button type="submit" class="btn btn-warning btn-search ">Search Now</button>

                    </form>

                </div>
            </div>
        </div>
    </section>
    <section id="OurBest">
        <div class="header-text">
            <h1 class="display-4 " style="margin-bottom:20px;">
                Our Best
                <span style="color: blue;">Offers</span>
            </h1>
            <hr style="width:10% ;margin: auto; color: black;">
            <p style="width: 1000px; margin: 20px auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a arcu eu justo euismod rutrum. Quisque id enim ac tortor malesuada vestibulum non quis turpis. Ut eget ornare arcu. Suspendisse velit mi, pulvinar sed mauris eget, efficitur tempor ex.
            </p>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="row" style="flex-direction: column;">

                        <div class="col-lg-12">
                            <div class="car-card p-2">

                                <div class="icon-box p-2">

                                    <i class="fa-solid fa-car" style="font-size: 35px; color: white;"></i>
                                </div>
                                <div class="featured">
                                    <h3>Featured Luxury Cars</h3>
                                    <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>

                                </div>


                            </div>

                        </div>
                        <div class="col-12">
                            <div class="car-card p-2">

                                <div class="icon-box p-2">

                                    <i class="fa-solid fa-cart-shopping" style="font-size: 35px; color: white;"></i>
                                </div>
                                <div class="featured">
                                    <h3>Insurance Included</h3>
                                    <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>

                                </div>


                            </div>

                        </div>
                        <div class="col-12">
                            <div class="car-card p-2">

                                <div class="icon-box p-2">

                                    <i class="fa-brands fa-cc-apple-pay" style="font-size: 35px; color: white;"></i>
                                </div>
                                <div class="featured">
                                    <h3>Available 12 640 Cars</h3>
                                    <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="~/Assets/img/Ferrari-sports-car-picture.jpg" style="margin-right: 50px;" width="420px" height=350px alt="" srcset="">
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="col-lg-12">
                        <div class="car-card p-2">

                            <div class="featured">
                                <h3>Featured Luxury Cars</h3>
                                <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>

                            </div>
                            <div class="icon-box p-2">

                                <i class="fa-solid fa-car" style="font-size: 35px; color: white;"></i>
                            </div>


                        </div>

                    </div>
                    <div class="col-12">
                        <div class="car-card p-2">

                            <div class="featured">
                                <h3>Insurance Included</h3>
                                <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>

                            </div>
                            <div class="icon-box p-2">

                                <i class="fa-solid fa-cart-shopping" style="font-size: 35px; color: white;"></i>
                            </div>


                        </div>

                    </div>
                    <div class="col-12">
                        <div class="car-card p-2">

                            <div class="featured">
                                <h3>Available 12 640 Cars</h3>
                                <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>

                            </div>
                            <div class="icon-box p-2">

                                <i class="fa-brands fa-cc-apple-pay" style="font-size: 35px; color: white;"></i>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="Vehicle">
        <div class="header-text">
            <h1 class="display-4 " style="margin-bottom:20px;">
                VEHICLE MODELS
                <span style="color: blue;">FOR RENT</span>
            </h1>
            <hr style="width:10%; ;margin: auto; color: black;">

        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-3">
                    <ul class="car-list">
                        <li class="item active" data-target="#tab-1"> BMW 3-SERIES</li>
                        <li class="item " data-target="#tab-2">Audi A1 S-LINE</li>
                        <li class="item " data-target="#tab-3"> Toyota Camry </li>
                        <li class="item " data-target="#tab-4">Mercedes-Benz GLK</li>


                    </ul>
                </div>
                <div class="col-lg-8">

                    <div class="content-box d-flex">
                        <div class="img-box show" id="tab-1"> <img src="~/Assets/img/301-3015807_transparent-honda-png-honda-accord-2019-ex-white.png" alt="" srcset=""></div>
                        <div class="img-box" id="tab-2"> <img src="~/Assets/img/21.png" alt="" srcset=""></div>
                        <div class="img-box" id="tab-3"> <img src="~/Assets/img/22.png" alt="" srcset=""></div>
                        <div class="img-box" id="tab-4"> <img src="~/Assets/img/Ferrari-sports-car-picture.jpg" alt="" srcset=""></div>

                        <div class="info">

                            <ul class="info-list show" id="tab-1">
                                <li> <span style="color: rgb(14, 31, 187); font-size: 25px;">$ 37.40 </span><span>Rent Per Day</span></li>
                                <li> <span>Model :</span> <span>Limousine</span></li>
                                <li> <span>Doors :</span><span>4</span></li>
                                <li> <span>Seats :</span><span>5</span></li>
                                <li> <span>Luggage :</span><span>2 Suitcases </span></li>
                                <li> <span>Transmission :</span><span>Automatic</span></li>
                                <li> <span>Air conditioning :</span><span>Yes</span></li>
                                <li> <span>Minimum age :</span><span>25Years</span></li>
                                <button class="btn btn-lg"> Reserve Now</button>

                            </ul>
                            <ul class="info-list" id="tab-2">
                                <li> <span style="color: rgb(14, 31, 187); font-size: 25px;">$ 37.40 </span><span>Rent Per Day</span></li>
                                <li> <span>Model :</span> <span>Limousine-1</span></li>
                                <li> <span>Doors :</span><span>4</span></li>
                                <li> <span>Seats :</span><span>5</span></li>
                                <li> <span>Luggage :</span><span>2 Suitcases </span></li>
                                <li> <span>Transmission :</span><span>Automatic</span></li>
                                <li> <span>Air conditioning :</span><span>Yes</span></li>
                                <li> <span>Minimum age :</span><span>25Years</span></li>
                                <button class="btn btn-lg"> Reserve Now</button>

                            </ul>
                            <ul class="info-list" id="tab-3">
                                <li> <span style="color: rgb(14, 31, 187); font-size: 25px;">$ 37.40 </span><span>Rent Per Day</span></li>
                                <li> <span>Model :</span> <span>Limousine-2</span></li>
                                <li> <span>Doors :</span><span>4</span></li>
                                <li> <span>Seats :</span><span>5</span></li>
                                <li> <span>Luggage :</span><span>2 Suitcases </span></li>
                                <li> <span>Transmission :</span><span>Automatic</span></li>
                                <li> <span>Air conditioning :</span><span>Yes</span></li>
                                <li> <span>Minimum age :</span><span>25Years</span></li>
                                <button class="btn btn-lg"> Reserve Now</button>

                            </ul>
                            <ul class="info-list" id="tab-4">
                                <li> <span style="color: rgb(14, 31, 187); font-size: 25px;">$ 37.40 </span><span>Rent Per Day</span></li>
                                <li> <span>Model :</span> <span>Limousine-3</span></li>
                                <li> <span>Doors :</span><span>4</span></li>
                                <li> <span>Seats :</span><span>5</span></li>
                                <li> <span>Luggage :</span><span>2 Suitcases </span></li>
                                <li> <span>Transmission :</span><span>Automatic</span></li>
                                <li> <span>Air conditioning :</span><span>Yes</span></li>
                                <li> <span>Minimum age :</span><span>25Years</span></li>
                                <button class="btn btn-lg"> Reserve Now</button>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="CarInfo">
        <img src="~/Assets/img/porsche-normal.webp" alt="" srcset="">
        <div class="container">
            <div class="row">

                <div class="col-lg-3">
                    <div class="content text-center">
                        <div class="icon-p"><i class="fa-solid fa-people-group"></i></div>
                        <div class="text-item">
                            <h4>
                                399
                            </h4>
                            <p>Happy Client</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="content text-center">
                        <div class="icon-p"><i class="fa-solid fa-people-group"></i></div>
                        <div class="text-item">
                            <h4>
                                399
                            </h4>
                            <p>Cars</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="content text-center">
                        <div class="icon-p"><i class="fa-solid fa-people-group"></i></div>
                        <div class="text-item">
                            <h4>
                                399
                            </h4>
                            <p>Happy Finished</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="content text-center">
                        <div class="icon-p"><i class="fa-solid fa-people-group"></i></div>
                        <div class="text-item">
                            <h4>
                                399
                            </h4>
                            <p>Awards</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <section id="NewsLetter">
        <div class="container">
            <div class="row">
                <div class="col-5">

                    <div class="news-text">
                        <h1>Newsletter</h1>
                        <p>Subscribe for our weekly newsletter.</p>
                    </div>
                </div>
                <div class="col-lg-7 p-4 d-flex">

                    <input type="Email" id="inputPassword5" class="form-control" placeholder="Enter Your Email Adress">
                    <button class="btn-primary btn-lg"><i class="fa-solid fa-paper-plane"></i></button>
                </div>

            </div>
        </div>
    </section>
    <section class="mt-5" id="Map">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                        <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form class="p-3" style="background-color: rgb(100, 99, 99);">
                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form4Example1" class="form-control" />
                            <label class="form-label" for="form4Example1">Name</label>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="form4Example2" class="form-control" />
                            <label class="form-label" for="form4Example2">Email address</label>
                        </div>

                        <!-- Message input -->
                        <div class="form-outline mb-4">
                            <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                            <label class="form-label" for="form4Example3">Message</label>
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
                            <label class="form-check-label" for="form4Example4">
                                Send me a copy of this message
                            </label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" style="width: 150px; margin-left: 220px" class="btn btn-primary btn-lg mb-4">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="information" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="car-card p-2">

                        <div class="icon-box p-2">

                            <i class="fa-solid fa-car" style="font-size: 35px; color: rgb(12, 33, 153);"></i>
                        </div>
                        <div class="featured">
                            <h3>Featured Luxury Cars</h3>
                            <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>

                        </div>


                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="car-card p-2">

                        <div class="icon-box p-2">

                            <i class="fa-solid fa-car" style="font-size: 35px; color: rgb(51, 40, 206);"></i>
                        </div>
                        <div class="featured">
                            <h3>Featured Luxury Cars</h3>
                            <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>

                        </div>


                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="car-card p-2">

                        <div class="icon-box p-2">

                            <i class="fa-solid fa-car" style="font-size: 35px; color: rgb(26, 52, 202);"></i>
                        </div>
                        <div class="featured">
                            <h3>Featured Luxury Cars</h3>
                            <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>

                        </div>


                    </div>

                </div>

            </div>
        </div>
    </section>
</main>