@model Car
@{
    ViewData["Title"] = " Update";
}

<form method="post" enctype="multipart/form-data" style="margin-top:150px; margin-left:50px; ">
    <div class="mb-3">
        <label asp-for=Name></label><br />
        <input class=form-control asp-for=Name>
        <span class=" text-danger " asp-validation-for=Name></span>
    </div>


    <div class="mb-3">
        <input type="submit" class="btn btn-dark" value="Update" />
    </div>

</form>
